@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  color: #fff;
  background: #1f1934;
}
.aside{
  background: #222;
  width: 20%;
  height: 100vh;
  h3{
    margin-bottom: 60px;
    font-size: 15px;
    font-weight: bolder;
    color: #ccc;
    margin-top: 35px;
    margin-left: 20px;
  }
  li{
    padding: 10px;
    list-style: none;
    margin-bottom: 20px;
    cursor: pointer;
  }
  li:hover{
    background: #333;
  }
}
main{
  padding-left: 20px;
  width: 100%;
}
.active{
  background: #333;
}